body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #fff;
  color: #222;
  font-size: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  align-items: center;
}

.logo {
  height: 30px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}


/* ---------- FAIXAS DECORATIVAS ---------- */
.faixa {
  background-color: #d87300;
  position: absolute;
  z-index: 0;
  border-radius: 2px;
}

.faixa-bottom {
  width: 225px;
  height: 20px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

.faixa-left {
  width: 20px;
  height: 225px;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
}

.faixa-top {
  width: 225px;
  height: 20px;
  top: -20px;
  right: 0;
  border-radius: 8px;
}


footer {
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 150px 150px;
  font-size: 20px;
  flex-wrap: wrap;
}

.footer_itens {
  margin: 10px;
  text-align: center;
}
.foot_icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
  font-size: 24px;
}

/* sofia */

.icon-link {
  display: inline-block;
  cursor: pointer;
}
.icon-link svg {
  pointer-events: none; /* evita conflitos dentro do svg */
}

/* --------------------------------------------------- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #d87300;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}