<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css" />
    <title>Registrar</title>

</head>
<body>
    <div class="conteiner-login">
        <h1>Registrar</h1>
        <input type="text" placeholder="Nome" class="name">
        <input type="password" placeholder="Senha" class="password">     
        <button class="login">Entrar</button>
        <a href="Login.html">Já tem uma conta ?</a>
    </div>
    
</body>
</html>